@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1201px) {
  .container {
    width: 1038px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__contakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 46px;
  }
  .footer__socials-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffa5ba;
    margin-left: 28.24px;
    cursor: pointer;
  }
  .footer__socials-item:hover {
    color: #d41342;
  }
  .socials__icon {
    fill: #ffffff;
  }
  .socials__icon-1 {
    width: 18.82px;
    height: 18.82px;
  }
  .socials__icon-2 {
    width: 19.2px;
    height: 14.93px;
  }
  .socials__icon-3 {
    width: 8.8px;
    height: 19.2px;
  }
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "DM Sans";
  font-weight: 700;
  font-style: bold;
  font-size: 13px;
}

.footer__phone-number {
  margin-left: 4px;
  color: #d41342;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__contakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin-top: 158px;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 46px;
  }
  .footer__socials-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffa5ba;
    margin-left: 28.24px;
    cursor: pointer;
  }
  .footer__socials-item:hover {
    background-color: #d41342;
  }
  .socials__icon {
    fill: #ffffff;
  }
  .socials__icon-1 {
    width: 20px;
    height: 20px;
  }
  .socials__icon-2 {
    width: 20.4px;
    height: 15.87px;
  }
  .socials__icon-3 {
    width: 9.35px;
    height: 20.4px;
  }
  .footer__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    font-family: "DM Sans";
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
  }
  .footer__phone-number {
    margin-left: 3px;
    color: #d41342;
  }
}

@media screen and (min-width: 1201px) {
  .footer__contakt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin-top: 170px;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 50px;
  }
  .footer__socials-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffa5ba;
    margin-left: 28.24px;
    cursor: pointer;
  }
  .footer__socials-item:hover {
    background-color: #d41342;
  }
  .socials__icon {
    fill: #ffffff;
  }
  .socials__icon-1 {
    width: 20px;
    height: 20px;
  }
  .socials__icon-2 {
    width: 20.4px;
    height: 15.87px;
  }
  .socials__icon-3 {
    width: 9.35px;
    height: 20.4px;
  }
  .footer__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    font-family: "DM Sans";
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
  }
  .footer__phone-number {
    margin-left: 3px;
    color: #d41342;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__rights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  .footer__rights-text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    color: #907e82;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__rights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 29px auto 18px auto;
  }
  .footer__rights-text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    color: #907e82;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1201px) {
  .footer__rights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 9px auto 10px auto;
  }
  .footer__rights-text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    color: #907e82;
    margin-left: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff5f6;
    background-position: center top;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 79px 0 43px 0;
  }
  .footer__text1 {
    width: 80%;
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffa5ba;
    margin-bottom: 17px;
  }
  .footer__text2 {
    width: 200px;
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    color: #d41342;
    margin-bottom: 14px;
  }
  .footer__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: "DM Sans";
    font-weight: 700;
    font-style: bold;
    font-size: 13px;
  }
  .footer__phone-number {
    margin-left: 4px;
    color: #d41342;
  }
  .footer__line {
    height: 0px;
    width: 100%;
    border: 1px solid #e1e1e1;
    margin: 43px 0 22px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff5f6;
    background-position: center top;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin: 165px 0 91px 0;
  }
  .footer__text1 {
    width: 90%;
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #ffa5ba;
    margin-bottom: 17px;
  }
  .footer__text2 {
    width: 220px;
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: #d41342;
    margin-bottom: 5px;
  }
  .footer__line {
    height: 0px;
    width: 100%;
    border: 1px solid #e1e1e1;
  }
}

@media screen and (min-width: 1201px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff5f6;
    background-position: center top;
  }
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin: 165px 0 97px 0;
  }
  .footer__text1 {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #ffa5ba;
    margin-bottom: 17px;
  }
  .footer__text2 {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    color: #d41342;
    margin-bottom: 5px;
  }
  .footer__line {
    height: 0px;
    width: 100%;
    border: 1px solid #e1e1e1;
  }
}
/*# sourceMappingURL=main.css.map */