// PRODUCTS - SŁAWEK
$primary-font-family: 'Titan One';
$secondary-font-family: 'DM Sans';
$primary-background-color: '#FFFFFF';
$secondary-background-color: '#FFF5F6';
$primary-font-color: '#D41443';
$accent-font-color: '#FFA5BA';
