// PRODUCTS - SŁAWEK
$primary-font-family: 'Titan One';
$secondary-font-family: 'DM Sans';
$primary-background-color: '#FFFFFF';
$secondary-background-color: '#FFF5F6';
$primary-font-color: #d41443;
$accent-font-color: #ffa5ba;
$white: #fff;
$eclipse: rgba(255, 165, 186, 1);
