<section class="section-contacts" id="contact">
  <h2 class="section-contacts__heading">Contacts</h2>

  <div class="section-contacts__card branch">
    <div class="branch__category--cafe">
      <p>CAFE</p>
    </div>
    <p class="branch__city">Chicago</p>
    <p class="branch__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul class="branch__opening-days-and-hours opening">
      <li class="opening__days">Monday - Friday</li>
      <li class="opening__hours">
        <time datetime="06:00">06:00 AM</time> -
        <time datetime="22:00">10:00 PM</time>
      </li>
      <li class="opening__days">Saturday - Sunday</li>
      <li class="opening__hours">
        <time datetime="08:00">08:00 AM</time> -
        <time datetime="16:00">16:00 PM</time>
      </li>
    </ul>
    <ul class="branch__contact">
      <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>

  <div class="section-contacts__card branch">
    <div class="branch__category--foodtrack">
      <p>FOOD TRUCK</p>
    </div>
    <p class="branch__city">Los Angeles</p>
    <p class="branch__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul class="branch__opening-days-and-hours opening">
      <li class="opening__days">Monday - Friday</li>
      <li class="opening__hours">
        <time datetime="06:00">06:00 AM</time> -
        <time datetime="22:00">10:00 PM</time>
      </li>
      <li class="opening__days">Saturday - Sunday</li>
      <li class="opening__hours">
        <time datetime="08:00">08:00 AM</time> -
        <time datetime="16:00">16:00 PM</time>
      </li>
    </ul>
    <ul class="branch__contact">
      <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>

  <div class="section-contacts__card branch">
    <div class="branch__category--cafe">
      <p>CAFE</p>
    </div>
    <p class="branch__city">New York</p>
    <p class="branch__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <ul class="branch__opening-days-and-hours opening">
      <li class="opening__days">Monday - Friday</li>
      <li class="opening__hours">
        <time datetime="06:00">06:00 AM</time> -
        <time datetime="22:00">10:00 PM</time>
      </li>
      <li class="opening__days">Saturday - Sunday</li>
      <li class="opening__hours">
        <time datetime="08:00">08:00 AM</time> -
        <time datetime="16:00">16:00 PM</time>
      </li>
    </ul>
    <ul class="branch__contact">
      <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
      <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
  </div>

  <div class="contacts-buttons">
    <button type="button" class="main-button main-button--red">
      Our Locations
      <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1 1L4.61035 5L1 9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button type="button" class="main-button main-button--white">
      Franchise
      <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1 1L4.61035 5L1 9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</section>
