<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Titan+One&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/src/sass/main.css" />

<footer class="footer">
  <div class="container">
    <div class="shop">
      <div class="shop__title">COFE</div>
      <p class="shop__text shop__text-margin">Chicago</p>
      <p class="shop__text shop__text-1">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="shop__line"></div>
      <div class="shop__open">
        <p class="shop__text">Monday - Friday</p>
        <p class="shop__text shop__text-2 shop__text-margin">06:00 AM - 10:00 PM</p>
        <p class="shop__text">Saturday - Sunday</p>
        <p class="shop__text shop__text-2">08:00 AM - 16:00 PM</p>
        <div class="shop__line"></div>
      </div>
      <a class="shop__text shop__text-1" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      <a class="shop__text shop__text-1" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <div class="shop">
      <div class="shop__title2">FOODTRUCK</div>
      <p class="shop__text shop__text-margin">Los Angeles</p>
      <p class="shop__text shop__text-1">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="shop__line"></div>
      <div class="shop__open">
        <p class="shop__text">Monday - Friday</p>
        <p class="shop__text shop__text-2 shop__text-margin">06:00 AM - 10:00 PM</p>
        <p class="shop__text">Saturday - Sunday</p>
        <p class="shop__text shop__text-2">08:00 AM - 16:00 PM</p>
        <div class="shop__line"></div>
      </div>
      <a class="shop__text shop__text-1" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      <a class="shop__text shop__text-1" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <div class="shop">
      <div class="shop__title">COFE</div>
      <p class="shop__text shop__text-margin">New York</p>
      <p class="shop__text shop__text-1">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="shop__line"></div>
      <div class="shop__open">
        <p class="shop__text">Monday - Friday</p>
        <p class="shop__text shop__text-2 shop__text-margin">06:00 AM - 10:00 PM</p>
        <p class="shop__text">Saturday - Sunday</p>
        <p class="shop__text shop__text-2">08:00 AM - 16:00 PM</p>
        <div class="shop__line"></div>
      </div>
      <a class="shop__text shop__text-1" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
      <a class="shop__text shop__text-1" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <a href="#"
      ><button type="button" class="shop__button shop__button-style1">
        <a class="shop__button-text">Our Locations </a>
      </button></a
    >
    <a href="#"
      ><button type="button" class="shop__button shop__button-style2">
        <a class="shop__button-text shop__button-text2">Franchise</a>
      </button></a
    >
    <p class="shop__text2">
      HOMADE ICE CREAM <br />
      MADE
    </p>
    <p class="shop__text3">
      WITH <br />
      PASSION
    </p>
    <div>Feel free to contact +61 (0) 383 766 284</div>
    <div></div>
    <div>© 2019 - IceCream. All Rights Reserved.</div>
  </div>
</footer>
