<link rel="stylesheet" href="css/main.min.css" />

<footer class="footer">
  <div class="shop">
    <div class="shop__title">COFE</div>
    <p class="shop__text">Chicago</p>
    <p class="shop__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <p class="shop__text">Monday - Friday</p>
    <p class="shop__text">06:00 AM - 10:00 PM</p>
    <p class="shop__text">Saturday - Sunday</p>
    <p class="shop__text">08:00 AM - 16:00 PM</p>
    <a class="shop__text" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
    <a class="shop__text" href="mailto:noreply@envato.com">noreply@envato.com</a>
  </div>
  <div class="shop">
    <div class="shop__title">FOODTRUCK</div>
    <p class="shop__text">Los Angeles</p>
    <p class="shop__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <p class="shop__text">Monday - Friday</p>
    <p class="shop__text">06:00 AM - 10:00 PM</p>
    <p class="shop__text">Saturday - Sunday</p>
    <p class="shop__text">08:00 AM - 16:00 PM</p>
    <a class="shop__text" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
    <a class="shop__text" href="mailto:noreply@envato.com">noreply@envato.com</a>
  </div>
  <div class="shop">
    <div class="shop__title">COFE</div>
    <p class="shop__text">Los Angeles</p>
    <p class="shop__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <p class="shop__text">Monday - Friday</p>
    <p class="shop__text">06:00 AM - 10:00 PM</p>
    <p class="shop__text">Saturday - Sunday</p>
    <p class="shop__text">08:00 AM - 16:00 PM</p>
    <a class="shop__text" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
    <a class="shop__text" href="mailto:noreply@envato.com">noreply@envato.com</a>
  </div>
  <button></button>
  <button></button>
</footer>
