<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Titan+One&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/src/sass/main.css" />

<footer class="footer">
  <div class="container">
    <!-- ===> T E X T <=== -->

    <div class="footer__text">
      <p class="footer__text1">HOMADE ICE CREAM MADE</p>
      <p class="footer__text2">WITH PASSION</p>
    </div>

    <!-- ===> S O C I A L S <=== -->
    <div class="footer__contakt">
      <div class="footer__socials">
        <div class="footer__socials-item">
          <a url="#">
            <svg class="socials__icons">
              <use href="../images/icons.svg#icon-circle"></use></svg
          ></a>
        </div>
        <div class="footer__socials-item">
          <a url="#">
            <svg class="socials__icons">
              <use href="../images/icons.svg#icon-telegram"></use></svg
          ></a>
        </div>
        <div class="footer__socials-item">
          <a url="#">
            <svg class="socials__icons">
              <use href="../images/icons.svg#icon-fb"></use></svg
          ></a>
        </div>
      </div>

      <div class="footer__phone">
        Feel free to contact
        <a class="footer__phone-number" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
      </div>
    </div>

    <!-- ===> L I N E <=== -->
  </div>
  <div class="footer__line"></div>
  <div class="container">
    <!-- ===> R I G H T S <=== -->

    <div class="footer__rights">
      <p class="footer__rights-text">© 2019 - IceCream.</p>
      <p class="footer__rights-text">All Rights Reserved.</p>
    </div>
  </div>
</footer>
