<section class="header">
  <div class="container">
    <img
      class="logo"
      srcset="/images/header/logo.png 1x, /images/header/logo@2x.png 2x"
      src="/images/header/logo.png"
      alt="logo-ice-cream"
    />
    <div class="logo"></div>
    <button class="hamburger" data-hamburger-open aria-label="Menu">
      <svg class="icon-Burger">
        <use href="images/sprite.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>
</section>
<!-- <script src="./mobile-menu.js"></script> -->
