<!-- <script src="./mobile-menu.js"></script> -->
<section class="st-hero" id="home">
  <!-- HEADER************ -->
  <section class="st-header">
    <div class="st-container">
      <img
        class="st-logo st-logo-header"
        srcset="/images/header/logo.png 1x, /images/header/logo@2x.png 2x"
        src="/images/header/logo.png"
        alt="logo-ice-cream"
      />

      <nav class="st-nav">
        <ul class="st-nav__list">
          <li class="st-nav__item"><a href="#home" class="st-nav__link">Home</a></li>
          <li class="st-nav__item"><a href="#about" class="st-nav__link">About us</a></li>
          <li class="st-nav__item">
            <a href="#how-its-made" class="st-nav__link">How it's made</a>
          </li>
          <li class="st-nav__item"><a href="#products" class="st-nav__link">Our products</a></li>
          <li class="st-nav__item"><a href="#contact" class="st-nav__link">Contacts</a></li>
        </ul>
      </nav>

      <button class="st-hamburger" data-hamburger-open aria-label="Menu" onclick="myFunction()">
        <svg class="st-icon-Burger">
          <use href="images/sprite.svg#icon-Burger"></use>
        </svg>
      </button>
      <button class="st-button st-buy-button" type="button">
        Buy now
        <svg
          class="st-icon-Vector"
          width="7"
          height="10"
          viewBox="0 0 7 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.74213 1L5.76728 5L1.74213 9"
            stroke="#D41443"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </section>
  <!-- HEADER END*********** -->

  <div class="st-container">
    <picture class="st-hero__picture">
      <svg class="st-icon-ellipse st-ellipse__hero">
        <use href="./images/sprite.svg#icon-ellipse"></use>
      </svg>

      <svg class="st-icon-ellipse-mobile st-ellipse__hero-mobile">
        <use href="./images/sprite.svg#icon-ellipse-mobile"></use>
      </svg>
      <source
        media="(min-width: 1200px)"
        srcset="./images/hero/ice-cream-desktop.png 1x, ./images/hero/ice-cream-desktop@2x.png 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/hero/ice-cream-tablet.png 1x, ./images/hero/ice-cream-tablet@2x.png 2x"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/hero/ice-cream-mobile.png 1x, ./images/hero/ice-cream-mobile@2x.png 2x"
      />
      <img class="st-ice-cream" src="/images/hero/ice-cream-mobile.png" alt="ice cream" />
    </picture>

    <div class="st-hero__box">
      <h1 class="st-hero__title">
        ice cream made with <span class="st-hero__title-accent">passion</span>
      </h1>

      <div class="st-box-button">
        <a href="#products" class="st-small-button-link">
          <button class="st-small-button st-small-button--accent" type="button">Products</button></a
        >
        <a href="#how-its-made" class="st-small-button-link st-small-button-link--accent">
          <button class="st-small-button" type="button">How it's made?</button></a
        >
      </div>
      <div class="st-hero__description">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./images/hero/milk-desktop.png 1x, ./images/hero/milk-desktop@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/hero/milk-tablet.png 1x, ./images/hero/milk-tablet@2x.png 2x"
          />
          <img class="st-hero__milk" src="/images/hero/milk-tablet.png" alt="milk" />
        </picture>
        <p class="st-hero__descritpion--text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda nihil sint et
          molestiae quod repudiandae.
          <a>
            <img
              class="st-hero__arrow-rignt"
              href="#advantages"
              src="/images/hero/arrow-right.png"
              alt="arrow right"
            />
          </a>
        </p>
      </div>
    </div>
    <picture class="st-hero__picture-so-tasty">
      <source
        media="(min-width: 1200px)"
        srcset="./images/hero/soo-tasty-desktop.png 1x, ./images/hero/soo-tasty-desktop@2x.png 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/hero/soo-tasty-tablet.png 1x, ./images/hero/soo-tasty-tablet@2x.png 2x"
      />
      <img class="st-so-tasty" src="/images/hero/soo-tasty-tablet.png" alt="soo tasty" />
    </picture>
    <img class="st-hero__picture-16" src="/images/hero/16.png" alt="16" />
    <img class="st-hero__picture-23" src="/images/hero/23.png" alt="23" />
  </div>
</section>
