<section class="hero">
  <div class="container">
    <div class="hero-box">
      <h1 class="hero__text">ice cream made with <span class="hero__text-accent">passion</span></h1>
      <div class="box-button">
        <button class="button" type="button">Products</button>
        <button class="button" type="button">How it's made?</button>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="./images/hero/ice-cream-desktop.png 1x, ./images/hero/ice-cream-desktop@2x.png 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/hero/ice-cream-tablet.png 1x, ./images/hero/ice-cream-tablet@2x.png 2x"
      />
      <source
        media="(min-width: 320px)"
        srcset="./images/hero/ice-cream-mobile.png 1x, ./images/hero/ice-cream-mobile@2x.png 2x"
      />
      <img class="ice-cream" src="/images/hero/ice-cream-mobile.png" alt="ice cream" />
    </picture>
  </div>
</section>
