<section class="products">
  <span class="products__title">100% NATURAL</span>
  <h2 class="products__header">PRODUCTS</h2>
  <ul class="products__list">
    <li class="products__list-item ice-cream">
      <!-- OBRAZKI LODA DLA WSZYSTKICH WERSJI -->
      <picture class="products__list-item-image ice-cream-image">
        <source
          srcset=" 
            ./images/products/products-ice-cream-mobile.png    1x
            ./images/products/products-ice-cream-mobile@2x.png 2x"
          media="(min-width: 480px)"
        />
        <source
          srcset=" 
            ./images/products/products-ice-cream-tablet.png    1x
            ./images/products/products-ice-cream-tablet@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset=" 
            ./images/products/products-ice-cream-desktop.png    1x
            ./images/products/products-ice-cream-desktop@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <img
          class="ice-cream-image"
          src="./images/products/products-ice-cream-mobile.png"
          alt="pyszny lodzik"
        />
      </picture>
    </li>
  </ul>
</section>
