<section class="products">
  <div class="empty-div-for-slawek"></div>
  <span class="products__title">100% NATURAL</span>
  <h2 class="products__header">PRODUCTS</h2>
  <ul class="products__list">
    <li class="products__list-item ice-cream">
      <!-- OBRAZKI LODA DLA WSZYSTKICH WERSJI -->
      <picture class="products__list-item-image ice-cream-image">
        <source
          srcset="
            /images/products/products-ice-cream-mobile.png    1x,
            /images/products/products-ice-cream-mobile@2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            /images/products/products-ice-cream-tablet.png    1x,
            /images/products/products-ice-cream-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /images/products/products-ice-cream-desktop.png    1x,
            /images/products/products-ice-cream-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="ice-cream-image"
          src="/images/products/products-ice-cream-mobile.png"
          alt="pyszny lodzik"
        />
      </picture>
      <h3 class="products__list-item-name">ICE CREAM</h3>
      <ul class="dots">
        <img class="white-dot" src="./images/products/white-dot.png" />
        <img class="white-dot" src="./images/products/white-dot.png" />
        <img class="white-dot" src="./images/products/white-dot.png" />
      </ul>
      <span class="products__list-item-description"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et. dolore magna aliqua facilisis.
      </span>
      <a class="products__list-link" href="#"
        ><img src="/images/products/products-button.png" />
      </a>
    </li>
    <li class="products__list-item ice-coffee">
      <!-- OBRAZKI KAWY DLA WSZYSTKICH WERSJI -->
      <picture class="products__list-item-image ice-coffee-image">
        <source
          srcset="
            /images/products/products-ice-coffee-mobile.png    1x,
            /images/products/products-ice-coffee-mobile@2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            /images/products/products-ice-coffee-tablet.png    1x,
            /images/products/products-ice-coffee-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /images/products/products-ice-coffee-desktop.png    1x,
            /images/products/products-ice-coffee-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="ice-coffee-image"
          src="/images/products/products-ice-coffee-mobile.png"
          alt="mrożona kawa"
        />
      </picture>
      <h3 class="products__list-item-name">ICE COFFEE</h3>
      <ul class="dots">
        <img class="white-dot" src="./images/products/white-dot.png" />
        <img class="white-dot" src="./images/products/white-dot.png" />
        <img class="white-dot" src="./images/products/white-dot.png" />
      </ul>
      <span class="products__list-item-description"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et. dolore magna aliqua facilisis.
      </span>
      <a class="products__list-link" href="#"
        ><img src="/images/products/products-button.png" />
      </a>
    </li>
    <li class="products__list-item milk-shake">
      <!-- OBRAZKI SHAKE DLA WSZYSTKICH WERSJI -->
      <picture class="products__list-item-image milk-shake-image">
        <source
          srcset="
            /images/products/products-milk-shake-mobile.png    1x,
            /images/products/products-milk-shake-mobile@2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            /images/products/products-milk-shake-tablet.png    1x,
            /images/products/products-milk-shake-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /images/products/products-milk-shake-desktop.png    1x,
            /images/products/products-milk-shake-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="milk-shake-image"
          src="/images/products/products-milk-shake-mobile.png"
          alt="milk shake"
        />
      </picture>
      <h3 class="products__list-item-name">MILK SHAKE</h3>
      <ul class="dots">
        <img class="white-dot" src="./images/products/white-dot.png" />
        <img class="white-dot" src="./images/products/white-dot.png" />
        <img class="white-dot" src="./images/products/white-dot.png" />
      </ul>
      <span class="products__list-item-description"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et. dolore magna aliqua facilisis.
      </span>
      <a class="products__list-link" href="#"
        ><img src="/images/products/products-button.png" />
      </a>
    </li>
  </ul>
</section>
