
  .shop__button {
    width: 161px;
    height: 44px;
    border: 0;
    border-radius: 22px;
    margin: 10px 0;

    &-style1 {
      @extend .shop__button;
      background: $red;
    }

    &-style2 {
      @extend .shop__button;
      background: $white;
    }

    &-text {
      font-family: $font1;
      font-style: normal;
      font-weight: 700;
      font-size: $size2;
      line-height: 21px;
      color: $white;
      padding-left: 8px;
    }

    &-text2 {
      color: $red;
    }
  }

.footer__button-img {
  width: 4.28px;
height: 8px;
margin-left: 8px;
}