// Tablet*********
.st-hero__arrow-rignt {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-top: 7px;
}
// DESKTOP********
@media screen and (min-width: 1200px) {
  .st-hero__arrow-rignt {
    width: 26px;
    height: 26px;
  }
}
