.st-icon-Burger {
  width: 20px;
  height: 12px;
}
.st-icon-Ellipse {
  width: 346px;
  height: 344px;
}

// TABLET********
@media screen and (min-width: 768px) {
  .st-icon-Ellipse {
    width: 324px;
    height: 322px;
  }
}

// DESKTOP********
@media screen and (min-width: 1200px) {
  .st-icon-Ellipse {
    width: 538px;
    height: 538px;
  }
}
