.st-hero__picture {
  z-index: 0;
  position: absolute;
  top: 92px;
  left: 27%;
}
.st-hero__picture-so-tasty {
  display: none;
}
// TABLET*********
@media screen and (min-width: 768px) {
  .st-hero__picture {
    top: 83px;
    left: 40%;
    z-index: 0;
  }
}
.st-hero__picture-so-tasty {
  display: block;
  width: 168px;
  height: 133px;
}
