.st-hero {
  z-index: -2;
  height: 446px;
  position: absolute;
  background-color: $pink-bg-color;

  &__text {
    width: 218px;
    z-index: 1;
    font-family: $primary-font-family;
    text-transform: uppercase;
    color: $white;
    font-size: 26px;
    line-height: 1.154;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 19px;

    &-accent {
      color: $primary-font-color;
      font-size: 48px;
    }
  }
}

.st-hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 446px;
}
// TABLET*********
@media screen and (min-width: 768px) {
  .st-hero {
    height: 399px;
    padding-top: 12px;

    &__text {
      width: 162px;
      padding-top: 3px;
      margin-bottom: 25px;
      font-size: 22px;

      &-accent {
        font-size: 34px;
      }
    }
  }

  .st-hero-box {
    justify-content: flex-start;
    height: 312px;
  }
}
